<%- include('../partials/header') %>
    <div>
        <h2>
            <%= cohort.name_of_team %>
        </h2>
        <p>
            <%= cohort.name_of_members %>
        </p>
    </div>
    <div>
        <label for="method">Method</label>
        <input type="radio" name="method" value="Team Count">
    </div>
<%- include('../partials/footer') %>